body {
    opacity: 0;
    transition: opacity 0.5s;
    overflow: hidden;
}

#board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}

.column {
    display: inline-block;
}

.card, .cardf {
    position: relative;
    display: inline-block;
    margin: 8px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    border-radius: 8px;
}

.card {
    width: 100px;
    height: 69.8px;
    background-color: #cccccc;
}

.cardf {
    width: 100px;
    height: 132px;
    background-color: #dddddd;
}

.cardh {
    margin-left: -20px;
    margin-right: -20px;
    transition: transform 0.1s;
    transform-origin: 50% 100%;
}

.cardimage {
    background-image: url("http://cdn.litlepups.net/2015/11/26/cute-birds-hd-wallpapers-3-jpg.jpg");
    background-size: cover;
}

.gap {
    height: 8px;
}

.hand {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%);
    transition: transform 0.5s;
}

#deck {
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-align: center;
    font-family: arial;
    font-size: 11px;
}

.avatar {
    position: absolute;
    right: 100px;
    bottom: 90px;
    width: 160px;
    height: 190px;
    border-radius: 50%;
    background-image: url("https://vignette2.wikia.nocookie.net/lotr/images/8/8d/Gandalf-2.jpg/revision/latest?cb=20130209172436");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
}

.hp {
    position: absolute;
    right: 100px;
    bottom: 55px;
}

.magic {
    position: absolute;
    right: 100px;
    bottom: 22px;
}

.circle {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    color: white;
    text-align: center;
    font-family: Arial;
    display: inline-block;
}

.bar-under {
    width: 130px;
    height: 20px;
    background-color: pink;
    display: inline-block;
    position: relative;
    top: 5px;
    right: -25px;
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
